ValeAPPena-win32-x64/ValeAPPena.exe
ValeAPPena-win32-x64/blink_image_resources_200_percent.pak
ValeAPPena-win32-x64/content_resources_200_percent.pak
ValeAPPena-win32-x64/content_shell.pak
ValeAPPena-win32-x64/d3dcompiler_47.dll
ValeAPPena-win32-x64/ffmpeg.dll
ValeAPPena-win32-x64/icudtl.dat
ValeAPPena-win32-x64/libEGL.dll
ValeAPPena-win32-x64/libGLESv2.dll
ValeAPPena-win32-x64/locales/pt-BR.pak
ValeAPPena-win32-x64/natives_blob.bin
ValeAPPena-win32-x64/node.dll
ValeAPPena-win32-x64/resources/electron.asar
ValeAPPena-win32-x64/snapshot_blob.bin
ValeAPPena-win32-x64/ui_resources_200_percent.pak
ValeAPPena-win32-x64/views_resources_200_percent.pak
